<a href="https://colab.research.google.com/github/IMhedgehog/Hedgehog/blob/main/class_20230327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Indentation
a = 10
if a > 5:
  print("a is greater than 5")
else:
  print("a is less than or equal to 5")

a is greater than 5

In [3]:
x = int(input("Enter a number: "))

if x>0:
  print("Positive number")
elif x<0:
  print("Negative number")
else:
  print("Zero")

Enter a number: -4
Negative number

In [4]:
age = int(input("Enter your age: "))

if age < 18: 
  print("You are not eligible to vote.")
elif age >= 18 and age < 65: 
  print("You are eligible to vote.")
else: 
  print("You are eligible to vote, but not required to.")

Enter your age: 21
You are eligible to vote.

In [7]:
score = int(input("Enter your test score: "))

if score >= 90:
  print("You got an A!")
elif score >= 80:
  print("You got a B.")
elif score >= 70:
  print("You got a C.")
elif score >= 60:
  print("You got a D.")
else:
  print("You falled the test.")

Enter your test score: 98
You got an A!

In [8]:
#for statement
numbers = [1, 2, 3, 4, 5]
for num in numbers:
  print(num)

1
2
3
4
5

In [9]:
#range('start', 'stop', 'step')
for i in range(2, 10, 2):
  print(i)

2
4
6
8

In [10]:
#multiplication table(구구단)
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [11]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [12]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = [x**2 for x in numbers if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [14]:
numbers = [1,2,3,4,5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [22]:
numbers = [1, 2, 3, 4, 5]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5]

In [24]:
names = ['Alice', 'Bob', 'Charlie']
name_tuples = [(name, len(name)) for name in names]
print(name_tuples)

[('Alice', 5), ('Bob', 3), ('Charlie', 7)]

In [25]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
flattened = [element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
words = ['hello', 'world', 'python']
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

In [34]:
#while statement
treeHit = 0
while treeHit < 10:
  treeHit += 1
  print("나무를 %d번 찍었습니다." % treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [31]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [33]:
sum = 0
i = 1
while i <= 100:
  sum += i
  i += 1
print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

In [ ]:
numbers = []
num = int(input("Enter a number: "))
while num >= 0:
  numbers.append(num)
  num = int(input("Enter another number: "))
print("The numbers entered by the user")