<a href="https://colab.research.google.com/github/IMhedgehog/Hedgehog/blob/main/class_20230329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def add(a, b):
  result = a + b
  return result

In [5]:
a = add(3, 4)
print(a)

7

In [71]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s입니다." % name)
  print("나이는 % d살입니다." % old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [78]:
say_myself('hyeonho', 21, False)

나의 이름은 hyeonho입니다.
나이는  21살입니다.
여자입니다.

In [64]:
a = 1
def vartest(a):
  a = a + 1
  return a

print(vartest(a))

2

In [66]:
def vartest(v):
  v = v + 1
  return v

In [67]:
result = vartest(1)
print(result)

2

In [68]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7